<form [formGroup]="entryFormGroup">
    <label for="target-url">URL: </label>
    <input id="target-url" type="text" formControlName="targetURL">
    <br>
    <input type="file" class="file-upload" (change)="onPictureSelect($event)">
    <br>
    <label for="img-height">Image Height:</label>
    <input id="img-height" type="number" formControlName="imgHeight" (change)="updateImgHeight($event)">
    <label for="img-width">Image Width:</label>
    <input id="img-width" type="number" formControlName="imgWidth" (change)="updateImgWidth($event)">
    <label for="lock-ratio">Lock aspect ratio</label>
    <input id="lock-ratio" type="checkbox" formControlName="lockRatio" (change)="toggleRatioLock($event)">
</form>
